@model BugTrackerMVC.Models.Notification

@{
    ViewData["Title"] = "Details";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3"><span class="text-muted">@ViewContext.RouteData.Values["controller"]!.ToString()</span> / @ViewBag.Title</h4>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-8">
            <div class="card mb-4">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Sender)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Sender.FullName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Created)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Created)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.NotificationType)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NotificationType.Name)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Ticket)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Ticket.Title)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Project)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Project.Name)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Message)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Message)
                        </dd>
                    </dl>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-8 pl-md-2">
                            <a asp-action="Index" type="button" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
