@model IEnumerable<BugTrackerMVC.Models.Notification>

@{
    ViewData["Title"] = "Inbox";
}

<div class="container-xxl flex-grow-1 container-p-y mb-5">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted">@ViewContext.RouteData.Values["controller"]!.ToString()</span> / @ViewBag.Title</h4>

    <div class="card m-1 p-2">
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table table-sm" id="table_id">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                From
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Viewed
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ticket)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {          
                            <tr class=@(!item.HasBeenViewed? "fw-bold" : "")>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sender.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HasBeenViewed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotificationType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ticket.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>                           
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}