@using BugTrackerMVC.Models.ViewModels
@model BugTrackerMVC.Models.ViewModels.AssignPMViewModel

@{
    ViewData["Title"] = "Assign Project Manager";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3"><span class="text-muted">@ViewContext.RouteData.Values["controller"]!.ToString()</span> / @ViewBag.Title</h4>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="AssignPM" asp-controller="Projects" method="post">
                        <input type="hidden" asp-for="Project!.Id" />

                        <div class="form-group mb-3">
                            <label asp-for="@Model.PMId" class="control-label">Project Manager</label>
                            <select asp-for="@Model.PMId" asp-items="@Model.PMList" class="form-control">
                                <option value="">Unassigned</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Assign" class="btn btn-primary"/>
                        </div>
                        <div class="form-group">
                            <a asp-action="Details" asp-route-id="@Model.Project.Id" class="btn btn-secondary my-3">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>