@using BugTrackerMVC.Services.Interfaces
@inject IBTFileService FileService

@model BugTrackerMVC.Models.ViewModels.AssignPMViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted">@ViewContext.RouteData.Values["controller"]!.ToString()</span> / @ViewBag.Title</h4>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <form asp-action="Create" id="form" asp-controller="Projects" onsubmit="handleSubmit()">
                <div asp-validation-summary="ModelOnly" class="text-danger" enctype="multipart/form-data"></div>
                <input type="hidden" asp-for="Project!.Description" id="textBox" />

                @*<div class="form-group">
            <label asp-for="Project!.CompanyId" class="control-label"></label>
            <select asp-for="Project!.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>*@
                <div class="form-group mb-3">
                    <label asp-for="Project!.Name" class="control-label">Project Name</label>
                    <input asp-for="Project!.Name" class="form-control" placeholder="Enter a name"/>
                    <span asp-validation-for="Project!.Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 rounded bg-white" id="editor">
                    @Html.Raw(Model.Project!.Description)
                    <span asp-validation-for="Project!.Description" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="Project!.Created" class="control-label"></label>
            <input asp-for="Project!.Created" class="form-control" />
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>*@
                <div class="form-group mb-3">
                <label asp-for="Project!.StartDate" class="control-label">Start Date</label>
                <input asp-for="Project!.StartDate" class="form-control" placeholder="today"/>
                <span asp-validation-for="Project!.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Project!.EndDate" class="control-label">End Date</label>
                <input asp-for="Project!.EndDate" class="form-control" placeholder="MM/DD/YYYY" />
                <span asp-validation-for="Project!.EndDate" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Project!.ProjectPriorityId" class="control-label">Priority</label>
                    <select asp-for="Project!.ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Project Manager</label>
                    <select asp-for="PMId" class ="form-control" asp-items="@Model.PMList"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Project!.ImageFormFile" class="control-label">Project Image</label>
                    <img id="projectImaqe" class="img-fluid border rounded col-md-3 m-2" style="max-height: 250px;" src="" />
                    <input asp-for="Project!.ImageFormFile" type="file" class="from-control pt-2" accept=".png,.jpg,.jpeg,.gif"
                        onchange="document.getElementById('projectImage').src=windowURL.createObjectURL(this.files[0])" id="ImageFormFile" />
                </div>

                @*
            <div class="form-group">
            <label asp-for="Project!.ImageFileData" class="control-label"></label>
                <input asp-for="Project!.ImageFileData" class="form-control" />
            <span asp-validation-for="Project!.ImageFileData" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="Project!.ImageFileType" class="control-label"></label>
                <input asp-for="Project!.ImageFileType" class="form-control" />
            <span asp-validation-for="Project!.ImageFileType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
            <input class="form-check-input" asp-for="Project!.Archived" /> @Html.DisplayNameFor(model => model.Archived)
                </label>
            </div>*@
                <div class="form-group mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Enter a description'
        });
        function handleSubmit() {
            console.info('handleSubmit() called');
            document.getElementById('textBox').value = quill.root.innerHTML;
        };
    </script>
}