@using BugTrackerMVC.Services.Interfaces
@using BugTrackerMVC.Enums

@inject IBTFileService FileService

@model BugTrackerMVC.Models.Project

@{
    ViewData["Title"] = "Restore";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted">@ViewContext.RouteData.Values["controller"]!.ToString()</span> / @ViewBag.Title</h4>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div>
                        <h6 class="main-content-label mb-1">Project Restore</h6>
                        <p class="text-danger card-sub-title">Are you sure you want to restore this project?</p>
                    </div>
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DeTag(Model.Description!)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ImageFileData)
                        </dt>
                        <dd class="col-sm-9">
                            <img style="max-width:50px" src="@FileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!, (int)DefaultImage.ProjectImage)" />
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ImageFileType)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ImageFileType)
                        </dd>
                        <dt class="col-sm-3 mt-2">
                            @Html.DisplayNameFor(model => model.Archived)
                        </dt>
                        <dd class="col-sm-9 mt-2">
                            @Html.DisplayFor(model => model.Archived)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ProjectPriority)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ProjectPriority!.Name)
                        </dd>
                    </dl>
                    <div class="form-group row justify-content-end mb-0">
                        <div class="col-md-8 pl-md-2">
                            <form asp-action="Restore" method="post">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Restore" class="btn btn-success me-2" />
                                <a asp-action="ArchivedProjects" type="button" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
